*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
	background-image: linear-gradient(rgb(0, 118, 197), rgb(207, 234, 252));
}

.container{
    width: 100vw;
    height: 100vh;
    padding: 0;
}